/* this style below will be inhereted */
body{
    margin: 0;
    padding-top: 80px; 
    padding-left: 125px;
    padding-right: 35px;
    background-color: rgb(245, 245, 245);
    font-family: Roboto, Arial;
    }
p{
    margin-top: 0  ;
    margin-bottom: 0;
}